 .scrollmenu {
            list-style-type: none;
            margin: 0px;
            padding: 10px;
            overflow: scroll;
            background-color:rgb(150, 222, 219);
            white-space: nowrap;
            
           
           
        }
        .scrollmenu a{
            display: inline;
            color: black;
            text-align: center;
            padding: 20px;
            border-right: 1px solid black;
            text-decoration: none;
        }
        .scrollmenu a:hover {
            background-color: gray;
        }
        .active{
            background-color:darkcyan;
        }
        .scrollmenu::-webkit-scrollbar {
    display: none;
}